<div class="row">
    <div class="col-md-6">
        <center><%= image_tag("ColVen", :class => 'img-responsive', size: "250") %></center>
        <br>
        <center><%= link_to "Cliente frecuente Colven", clients_path, :class => "btn btn-default", :style => "font-size: 150%" %></center>
    </div>
    <div class="col-md-6">
        <center><%= image_tag("ColVen", :class => 'img-responsive', size: "250") %></center>
        <br>
        <center><%= link_to "Nuevo cliente Colven", new_client_path, :class => "btn btn-default", :style => "font-size: 150%" %></center>
    </div>
</div>
