<div class="sidebar-header">
    
</div>
        <!-- Sidebar Links -->
<ul class="list-unstyled components container-fluid">
    <li><!-- Link with dropdown items -->
        <center><a href="#SUsuarios" data-toggle="collapse" class="" style="font-size:20px; color:white; text-decoration:none; ">Usuarios</a>
        <ul class="collapse list-unstyled " id="SUsuarios">
            <li><a href="#">Administradores</a></li>
            <li><a href="#">Mayoristas</a></li>
            <li><a href="#">Transferencias</a></li>
            <li><a href="#">Distribuidores</a></li>
            <li><a href="#">Comercios</a></li>
            <li><a href="#">Bloqueados</a></li>
        </ul>
    </li>
    <li><!-- Link with dropdown items -->
        <center><a href="#SReportes" data-toggle="collapse" class="" style="font-size:20px; color:white; text-decoration:none; ">Reportes</a>
        <ul class="collapse list-unstyled " id="SReportes">
            <li><a href="#">General</a></li>
            <li><a href="#">Exitoso Diario</a></li>
            <li><a href="#">Espera Diario</a></li>
        </ul>
    </li>
</ul>
