



<div class="sidebar-header">
<center><h1 style="color:transparent;">Espacio</h1></center>
</div>
<ul class="list-unstyled components container-fluid">
    <center><li><%= link_to "Distribuidores", users_path(:role => "Distributor", :creator => current_user.email), :class => 'fa fa-home', :style => "font-size:20px; color:white; text-decoration:none;"  %></li></center>
    <br>
    <center><li><%= link_to "Reportes", report_index_path(:action_param=>"MyReport"), :style => "font-size:20px; color:white; text-decoration:none;"  %></li></center>
</ul>
