<li><%= link_to "Intercambios General", orders_path %></li>
<li><%= link_to "Reporte Intercambios EXITOSOS ultimas 24 horas", orders_path(:created_at => true , :status => 'Exitoso' ), :class => 'fa fa-home' %></li>
<li><%= link_to "Reporte Intercambios PENDIENTES ultimas 24 horas", orders_path(:created_at => true, :status => 'Pendiente' ), :class => 'fa fa-home' %></li>