<li><%= link_to "Reporte intercambios General", orders_path(:zone => current_user.zone) %></li>
<li><%= link_to "Reporte intercambios hoy", orders_path(:zone => current_user.zone, :created_at => true ), :class => 'fa fa-home' %></li>
<li><%= link_to "Comercios", users_path(:role => "Commerce", :creator => current_user.email) %></li>
<li><%= link_to "Reportes", report_index_path %></li>