<li><%= link_to "Historial De Clientes", clients_path %></li>
<li><%= link_to "Realizar Intercambio", new_order_path %></li>
<li><%= link_to "Reportes General", orders_path(:zone => current_user.zone) %></li>
<li><%= link_to "Reporte Hoy", orders_path(:created_at => true , :zone => current_user.zone), :class => 'fa fa-home' %></li>